<% @users.each do |u| %>
	<tr class = "usershow">
		<td class = "usershow">Firstname:<strong><%= u.firstname %></strong></td><br>
		<td class = "usershow">Lastname:<strong><%= u.lastname %></strong></td><br>
		<td class = "usershow"><%= image_tag u.image(:large)%></td><br>
		<td class = "usershow"><%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
	                    "data-sid" => current_user.id, "data-rip" => u.id %>

      		</td><br>
      		<td class = "usershow"><%= link_to "Add Friend", friendships_create_path(:friend_id => u), :method => :post %></td><br>
      	</tr>
<% end %>


