<p id="notice"><%= notice %></p>

Hello <%= current_user.firstname%><br>
<%#= current_user.email %><!-- <br> -->
<%#= current_user.firstname %><!-- <br> -->
<%#= current_user.lastname %><!-- <br> -->
<%= image_tag current_user.image(:small)%><!-- <br> -->

<h2>Your Friends</h2>
<h3>You have <%= current_user.friendships.count %></h3>
<ul><% for friendship in current_user.friendships %>
		<td><%= friendship.friend.firstname %></td>
		<td><%= link_to "remove", friendship, :method => :delete %></td><br>

		
	<% end %></ul>
<h2>Friended by Users</h2>
	<ul>
		<% for user in current_user.inverse_friends %>
			<td><%= user.name %></td>
		<% end %>
	</ul>


	





<p><%= link_to "Find Friends", users_path %></p>

<%= link_to "edit my profile", edit_user_registration_path(current_user) %>

